<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/public/assets/css/style.css" rel="stylesheet" type="text/css" />
    <title>Hyper Smash</title>
    <link rel="shortcut icon" type="image/png" href="/public/assets/Images/Badminton_court_Booking.PNG">
</head>
<body>
    <img class="logo" src="/public/assets/Images/Badminton_court_Booking.PNG" alt="Hyper Smash">
    <nav>
        <ul class="navbar">
            <li>
                <a href="/">
                    <span>Home</span>
                </a>
            </li>
            <li>
                <a href="/members">
                    <span>Members</span>
                </a>
            </li>
            <li>
                <a class="active" href="/coach_booking">
                    <span>Coach Booking</span>
                </a>
            </li>
            <li>
                <a href="/court_booking">
                    <span>Court booking</span>
                </a>
            </li>
            <li>
                <a href="/about">
                    <span>About Us</span>
                </a>
            </li>
        </ul>
    </nav>
    <h1>Coach Booking</h1>
</body>
</html>